apiVersion: v1
kind: Service
metadata:
  name: krmarket-frontend
  namespace: krmarket
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/part-of: krmarket
    app.kubernetes.io/component: web
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
