apiVersion: v1
kind: Service
metadata:
  name: krmarket-backend
  namespace: krmarket
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: krmarket
    app.kubernetes.io/component: api
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30151